.wrap{
    margin: 2%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.content{
    display: flex;
    justify-content: space-between;
    padding: 3% 5%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.content h1{
    font-size: 18px;
    font-weight: 600;
}

.content button{
    outline: none;
    border: none;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 7px 15px;
    border-radius: 4px;
    background-color: rgb(0, 150, 0);
    cursor: pointer;
}

.container{
    padding: 3% 0%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.options{
    display: flex;
    gap: 3rem;
    padding: 0 5%;
}

.options p{
    font-size: 14px;
    color: #707070;
    cursor: pointer;
}


.entries{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.header, .data{
    padding: 7px 5%;
    font-size: 12px;
    display: grid;
    grid-template-columns: repeat(4,2fr) 1fr;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.header li{
    display: flex;
    gap: 0.1rem;
    color: #707070;
    list-style: none;
}

.header li span{
    font-size: 16px;
    color:#848484;
    cursor: pointer;
}

.data li{
    list-style: none;
}

.data li:last-child span{
    cursor: pointer;
}

@media (max-width: 550px) {

    .entries{
        overflow: scroll;
    }

    .header, .data{
        display: flex;
    }

    .header li, .data li{
        min-width: 150px;
    }

    .header li:nth-child(2), .data li:nth-child(2), .header li:last-child, .data li:last-child{
        min-width: 70px;
    }
}